<%- include('../layouts/header') %>
    <!--ITT A DRAFT ORDERT KÉNE MEGJELENÍTENI & AZT HOGY ÉPPEN KI DRAFTOL-->
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-3">
                <p>Drafted by you:</p>
                <% for(let i = 0; i < team.playerNames.length; i++) { %>
                    <p><%- team.playerNames[i] %></p>    
                <% } %>  
            </div>
            <div class="col-sm-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Team</th>
                            <!--<th scope="col">Draft</th>
                            <th scope="col">Point avg</th>
                            <th scope="col">Assist avg</th>
                            <th scope="col">Rebound avg</th>
                            <th scope="col">Steal avg</th>
                            <th scope="col">Block avg</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let player of players){ %>
                            
                                <form action="/league/<%=league._id%>/draft" method="POST">
                                    <tr>
                                        <td><%= player %></td>
                                        <input type="hidden" name="playerName" value="<%-player%>" id="playerName">
                                        <td><button class="btn btn-success btn-block">Draft</button></td>
                                    </tr>
                                </form>
                        <% } %>  
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer') %>