<%- include('../layouts/header') %>
    <!-- EZT MAJD ÁÁLÍTSD VISSZA -->
    <% if(league.draftHappened === true) { %>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-white">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Draft didnt happen yet</h1>
                <p class="lead font-weight-normal">Draft will take place at <%= niceDraftTimeFormat %>. 
                    You draft next beetween:
                    <%= niceFormatB %> and <%= niceFormatE %> 
                </p>
                <a class="btn btn-outline-light" href="/league/<%=league._id%>/draft">Draft your team</a>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
    <% } else { %>
        <div class="container mt-5">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Your starters points</h5>
                      <hr>
                      <p>It's important to change your starts sometimes. They can miss games
                          due to injuries or dont play for an anoher reason.
                      </p>
                      <hr>
                        <p>LeBron - 20</p>
                        <p>Embiid - 32</p>
                        <p>Gobert - 11</p>  
                        <p>Giannis - 48</p>
                        <p>Lillard - 70</p>
                    </div>
                    <div class="card-footer">
                      <small class="text-muted"><a href="#">Change your starters</a></small>
                    </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Weekly standing</h5>
                    <hr>
                    <p><b>1.</b> Józsi - 1012</p>
                    <hr>
                    <p><b>2.</b> p3ti - 321</p>
                    <hr>
                    <p><b>3.</b> lajosvagyok - 213</p>  
                    <hr>
                    <p><b>4.</b> asdasd - 212</p>
                    <hr>
                    <p><b>5.</b> pannaabéna - 123</p>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">This resets weekly.</small>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Season points</h5>
                    <hr>
                    <p><b>1.</b> Józsi - 38</p>
                    <hr>
                    <p><b>2.</b> p3ti - 32</p>
                    <hr>
                    <p><b>3.</b> lajosvagyok - 21</p>  
                    <hr>
                    <p><b>4.</b> asdasd - 20</p>
                    <hr>
                    <p><b>5.</b> pannaabéna - 12</p>  
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">This determines who wins the season.</small>
                  </div>
                </div>
              </div>
        </div>  
    <% } %>
<%- include('../layouts/footer') %>