<%- include('../layouts/header') %>
    <% if(league.seasonEnded){ %>
      <div class="container mt-5">
        <div class="card bg-dark text-white">
          <img src="/pictures/over2.jpg" style="height:40rem;" class="card-img">
          <div class="card-img-overlay text-center mt-5">
            <h1 class="card-title">The season is over</h1>
            <h4>The resuls are:</h4>
            <div class="col-8 m-auto mt-3">
              <table class="table text-white table-borderless">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Points</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i = 0; i < usernameInOrder.length; i++){ %>
                    <tr>
                      <th scope="row"><%- i+1 %></th>
                      <td><%- usernameInOrder[i] %></td>
                      <td><%- teamsInOrder[i].points %></td>
                    </tr>
                  <% } %>  
                </tbody>
              </table>
            </div>
            <p>Click here for your other leagues!</p>
            <a href="/league" class="btn btn-primary">YOUR LEAGUES</a>
          </div>
        </div>
      </div>
    <% } else if(!league.draftHappened){  %>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark text-white">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Draft didnt happen yet</h1>
                <p class="lead font-weight-normal">Draft will take place at <%= niceDraftTimeFormat %>. 
                    You draft next beetween:
                    <%= niceFormatB %> and <%= niceFormatE %> 
                </p>
                <a class="btn btn-outline-light" href="/league/<%=league._id%>/draft">Draft your team</a>
            </div>
            <div class="product-device box-shadow d-none d-md-block"></div>
            <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
    <% } else{ %>
        <div class="container mt-5">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Your players</h5>
                      <hr>
                      <p>It's important to change your starts once in a while. They can miss games
                          due to injuries or dont play for some other reason.
                      </p>
                      <hr>
                        <% for(let i = 0; i < 5; i++){ %>
                          <p><%- team.playerNames[i] %> </p>  
                        <% } %>  
                    </div>
                    <div class="card-footer">
                      <small class="text-muted"><a href="#">Change your starters</a></small>
                    </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Weekly standing</h5>
                    <% for(let i = 0; i < teamsInOrderWeek.length; i++){ %>
                      <hr>
                      <p><b><%- i+1 %> .</b> <%- usernameInOrderWeek[i] %> - <%- teamsInOrderWeek[i].weeklyPoints %> </p>
                    <% } %>  
                    
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">This resets weekly.</small>
                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Season points</h5>
                    <% for(let i = 0; i < teamsInOrderSeason.length; i++){ %> 
                      <hr>
                      <p><b><%- i+1 %>. </b> <%- usernameInOrderSeason[i] %> - <%- teamsInOrderSeason[i].points %></p>
                    <% } %>   
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">This determines who wins the season.</small>
                  </div>
                </div>
              </div>
        </div>  
    <% } %>
<%- include('../layouts/footer') %>

