<%- include('../layouts/header') %>

    <div class="container mt-5">
        <div class="row">
            <h1 class="text-center">Your leagues</h1>
            <h2>Draft didnt happen yet</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">League name</th>
                        <th scope="col">Player count</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let league of leagues) { %>
                        <% if(!league.seasonEnded && !league.draftHappened) {%> 
                        <tr>
                            <td>
                                <%= league.leagueName %>
                            </td>
                            <td>
                                <%= league.users.length %> / <%- league.maxPlayerCount %>
                            </td>
                            <td><a class="btn btn-success btn-block" href="/league/<%=league._id%>">Open</a></td>
                        </tr>
                        <% }} %>
                </tbody>
            </table>
            <h2>Ongoing leagues</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">League name</th>
                        <th scope="col">Player count</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let league of leagues) { %>
                        <% if(!league.seasonEnded && league.draftHappened) {%> 
                        <tr>
                            <td>
                                <%= league.leagueName %>
                            </td>
                            <td>
                                <%= league.users.length %> / <%- league.maxPlayerCount %>
                            </td>
                            <td><a class="btn btn-success btn-block" href="/league/<%=league._id%>">Open</a></td>
                        </tr>
                        <% }} %>
                </tbody>
            </table>
            <h2>Finished leagues</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">League name</th>
                        <th scope="col">Player count</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let league of leagues) { %>
                        <% if(league.seasonEnded) {%> 
                        <tr>
                            <td>
                                <%= league.leagueName %>
                            </td>
                            <td>
                                <%= league.users.length %> / <%- league.maxPlayerCount %>
                            </td>
                            <td><a class="btn btn-success btn-block" href="/league/<%=league._id%>">Open</a></td>
                        </tr>
                        <% }} %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include('../layouts/footer') %>