<%- include('../layouts/header') %>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="card-group">
            <div class="card">
              <img src="/pictures/profile.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Invite players</h5>
                <p class="card-text">Here you can invite players to your invite only leagues. Just give their usernames and they will be added to the specifi league.</p>
                <% if(leagues.length > 0) { %> 
                    <b class="card-text mb-1">Your invite only leagues:</b>
                    <% for(let league of yourInviteOnlyLeagues) { %>
                        <form action="/profile?_method=PUT" method="POST" class="needs-validation mb-2" novalidate>
                            <p class="card-text">
                                Name of the league: <%= league.leagueName %>
                            </p>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="username" id="username" name="username" required>
                                <input type="hidden" id="leagueid" name="leagueid" value="<%-league._id%>">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please provide a username.
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Invite player</button>
                        </form>
                        <% }} %>
            </div>
              <div class="card-footer">
                <small class="text-muted">Play with your friends.</small>
              </div>
            </div>
            <div class="card">
              <img src="/pictures/profile3.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">Accept invite</h5>
                <p class="card-text">Here is a list of leagues that you've been invited to. You can accept the invites by clicking one the "Accept" button.</p>
                <% if(invitedToLeagues.length > 0) { %> 
                    <b class="card-text mb-1">You've be invited to these leagues:</b>
                    <% for(let league of invitedToLeagues) { %>
                        <form action="/profile" method="POST">
                            <p class="card-text">
                                Name of the league: <%= league.leagueName %>
                            </p>
                            <input type="hidden" id="leagueid" name="leagueid" value="<%-league._id%>">
                            <button class="btn btn-success btn-block">Accept</button>
                        </form>
                    <% }} %>
            </div>
              <div class="card-footer">
                <small class="text-muted">Accept the invites to play.</small>
              </div>
            </div>
            <div class="card">
              <img src="/pictures/admin.jpg" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">End leagues</h5>
                <p class="card-text">Here you can end the leagues you have created. You cant reverse this step so be sure if you really want to do this!</p>
                <% for(let league of leagues) { %>
                    <form action="/endseason" method="POST">
                        <p class="card-text">
                            Name of the league: <%= league.leagueName %>
                        </p>
                        <input type="hidden" name="leagueid" id="leagueid" value="<%-league._id%>">
                        <button class="btn btn-success btn-block">End legaue</button>
                    </form>
                    <hr>
                <% } %>
            </div>
              <div class="card-footer">
                <small class="text-muted">Don't end the league, beacuse you are losing :)</small>
              </div>
            </div>
          </div>
    </div>
    <%- include('../layouts/footer') %>